/* Large Layout: 1200px.
@media only screen and (min-width: 1200px){
.container {padding: 0;}
.container-fluid{padding: 0;}


.cta_two_btn {
    margin-left: 49px;
}



}


*/

/* Medium screen  */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.top_section_one_shape_1 {
    display: none;
}    
.donation_taker {
    max-width: 800px;
    margin: 0 auto 50px;
}    
.top_section_one_preface {
    max-width: 800px;
    margin: 0 auto 50px;
}    
.upcomming-events {
    max-width: 800px;
    margin: 0 auto;
}    
.anoucement_inner_megaphone {
    bottom: 0;
    right: -17px;
    top: inherit;
}    
.about_one_right {
    margin-right: 0;
}    
.about_one_right_last_img {
    display: none;
}    
.about_one_right_img:before {
    display: none;
}     
.about_one_right_img:after {
    display: none;
}    
.about_one_left .block-title h2 {
    font-size: 46px;
}    
.mission_and_vission_content h3 {
    font-size: 23px;
    line-height: 33px;
}
.candidate_one_right {
    margin-left: 30px;
}    
.testimonials_one_right {
    margin-left: 0;
}    
.news {
    margin-left: 0;
}    
.news_all.two {
    margin-left: 20px;
}    
.subscription .block-title h2 {
    font-size: 40px;
    line-height: 50px;
}    
.special_message_inner_content h2 {
    font-size: 44px;
    line-height: 54px;
}    
.special_message_inner {
    padding: 49.5px 50px;
}    
.footer-widget__address {
    margin-left: 0;
}    
.footer-widget__links {
    margin-right: -25px;
}    

.featured_causes_inner_title h3 {
    font-size: 47px;
}
.featured_causes_right h2 {
    font-size: 35px;
    line-height: 45px;
}    
.progress-levels {
    max-width: 375px;
} 

.mission_and_vission_two_text_box h3 {
    font-size: 23px;
} 
.mission_and_vission_two_text_box p {
    font-size: 16px;
}
.mission_and_vission_two_text_box_two p {
    font-size: 16px;
}    
.volunteer_two_right {
    margin-left: 0;
}
.volunteer_two_title h2 {
    font-size: 48px;
    line-height: 58px;
}    
.special_message_inner_two {
    padding: 90px 50px 70px;
}    
.special_message_two_content h2 {
    font-size: 40px;
    line-height: 50px;
}    
.footer-widget__about_two {
    margin-left: 0;
}    
.footer-widget__resource_two {
    margin-left: 0;
}    
.footer-widget__links_two {
    margin-left: 0;
}    
.footer-widget__tweets_two {
    margin-left: -53px;
    margin-right: 0;
}    
.featured_news_bottom_content h3 {
    font-size: 28px;
}    
.causes_three_title h3 {
    font-size: 20px;
    line-height: 30px;
}    
.causes_three_content .progress-levels {
    max-width: 204px;
}
.causes_three_content .progress-levels .progress-box .bar .bar-innner .skill-percent {
    right: -50px;
}
.causes_three_content .progress-levels .progress-box .inner .count-text {
    font-size: 15px;
}    
.causes_three_content .progress-levels .progress-box .inner .percent {
    font-size: 15px;
}    
.message_and_volunteer_text.marl {
    margin-left: 0;
}    
.message_and_volunteer_right {
    margin-left: 0;
}
.footer-widget__our_campaign.three {
    margin-left: 0;
    margin-top: 20px;
}    
.footer-widget__gallery {
    margin-left: 0;
    margin-top: 20px;
}    
.page-header-bg {
    width: 515px;
}    
.history_main_box.two {
    margin-left: 190px;
}    
.history_main_box.two li:after {
    left: -93px;
}    
.history_main_box.two li:before {
    left: -57px;
    z-index: -1;
}    
.sponsors_box_single {
    flex: 0 0 25%;
    max-width: 25%;
}    
.special_message.three .special_message_inner {
    flex-direction: column;
    text-align: center;
} 
.donation_form_title {
    margin-right: 0;
}
.donation_form_box li {
    margin-right: 3px;
}    
.donation_form_btn .thm-btn i {
    margin-left: 90px;
} 
.joining_us_title h2 {
    font-size: 55px;
    line-height: 65px;
}
.joining_us_right {
    margin-left: 0;
}
.member_style_1_title h3 {
    font-size: 25px;
    line-height: 35px;
}    
.comment_and_read {
    margin-left: 18px;
}    
.news_details__tags span {
    margin-right: 5px;
}    
.news_details__tags a {
    padding: 3px 25px;
}    
.news_details_share span {
    margin-right: 10px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.top_section_one_shape_1 {
    display: none;
}    
.donation_taker {
    max-width: 700px;
    margin: 0 auto 50px;
}    
.top_section_one_preface {
    max-width: 700px;
    margin: 0 auto 50px;
}    
.upcomming-events {
    max-width: 700px;
    margin: 0 auto;
}    
.anoucement_inner_megaphone {
    display: none;
}    
.about_one_left {
    margin-bottom: 40px;
}    
.about_one_right {
    margin-right: 0;
}    
    
.about_one_right_last_img {
    display: none;
}    
.about_one_right_img:before {
    display: none;
}     
.about_one_right_img:after {
    display: none;
}   
.volunteer_one_inner {
    align-items: inherit;
    flex-direction: column;
}    
.volunteer_one_inner_right {
    padding-top: 20px;
}    
.candidate_one_right {
    margin-top: 30px;
}
.donation_one_inner_title h3 {
    font-size: 45px;
}    
.donation_one_inner_text p {
    font-size: 29px;
}    
.testimonials_one_right {
    margin-left: 0;
    margin-top: 50px;
}    
.news {
    margin-left: 20px;
    margin-top: 50px;
}    
    
.special_message_inner_content h2 {
    font-size: 29px;
    line-height: 40px;
}    
.special_message_inner {
    padding: 49.5px 40px;
}      
.special_message_inner_btn .thm-btn {
    padding: 11px 25px;
    padding-right: 15px;
}    
.special_message_inner_btn .thm-btn i {
    margin-left: 25px;
    padding: 13px 17px;
} 
.footer-widget__our_campaign_list li+li {
    margin-top: 30px;
}
.footer-widget__our_campaign {
    margin-bottom: 60px;
}    
.footer-widget__address {
    margin-left: 0;
}    
.footer-widget__links {
    margin-right: 0;
}    
.footer-widget__Resource {
    margin-left: 0;
}    
.footer-widget__about.marb{
    margin-bottom: 30px;
}    
.footer-widget__address.marb{
    margin-bottom: 30px;
}
.site_footer_one_menu_list li+li {
    margin-left: 30px;
}    
.featured_causes_inner {
    background-image: none !important;
}
.featured_causes_right {
    margin-left: 0;
}    
.featured_causes_inner_title h4 {
    color: #ffffff;
}    
.featured_causes_inner_title {
    padding-top: 13px;
    padding-bottom: 30px;
}    
.events_two_right {
    margin-left: 0;
    margin-top: 40px;
}    
.volunteer_two_right {
    margin-left: 0;
    margin-top: 50px;
}    
.special_message_two_input_box {
    margin-top: 45px;
}    
.site_footer_two_btn {
    float: left;
}    
.footer-widget__about_two {
    margin-left: 0;
}    
.footer-widget__resource_two {
    margin-left: 0;
}    
.footer-widget__links_two {
    margin-left: 0;
}    
.footer-widget__tweets_two {
    margin-left: 0px;
    margin-right: 0;
    margin-top: 30px;
}     
.causes_three_content .progress-levels {
    max-width: 550px;
}    
.message_and_volunteer_text.marl {
    margin-left: 0;
    padding-top: 20px;
}    
.message_and_volunteer_right {
    margin-left: 0;
    margin-top: 50px;
}    
.footer-widget__links_two.three {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}    
.footer-widget__our_campaign.three {
    margin-left: 0;
    margin-bottom: 50px;
}    
.footer-widget__gallery {
    margin-left: 0;
}    
.page-header-bg {
    width: 400px;
}    
.page-header-content p {
    font-size: 24px;
    line-height: 34px;
}    
.history_main_box li:before {
    display: none;
}    
.history_main_box li:after{
    display: none;
}    
.history_main_box_border {
    display: none;
}    
.history_main_box {
    float: none;
}    
.history_main_box li {
    margin: 0 auto;
}    
.history_main_box.two {
    margin-left: 0;
    margin-top: 60px;
}    
.sponsors_box_single {
    flex: 0 0 25%;
    max-width: 25%;
}     
.special_message.three .special_message_inner {
    flex-direction: column;
    text-align: center;
}     
.contact_us_form {
    margin-left: 100px;
    margin-right: 100px;
}
.donation_form_title {
    margin-right: 0;
}
.how_we_use_donation_inner.right {
    margin-top: 60px;
}   
.event_page_single {
    flex-direction: column;
    align-items: center;
}    
.event_page_content {
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
}    
.even_details_sidebar {
    margin-top: 40px;
}    
.joining_us_right {
    margin-left: 0;
    margin-top: 40px;
}    
.sidebar {
    margin-left: 0;
}    
.comment-form {
    margin-bottom: 50px;
}    
    
.progress-levels .progress-box .bar .bar-innner .skill-percent {
    right: -69px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
.top_section_one_shape_1 {
    display: none;
} 
.donation_taker {
    padding: 50px 30px 60px;
    margin-bottom: 30px;
}
.top_section_one_preface {
    margin-bottom: 30px;
}    
.upcomming-events-list li .events_content .time-location li+li {
    margin-left: 0;
}    
.anoucement_inner_megaphone {
    display: none;
}       
.anoucement_inner {
    padding-left: 25px;
}    
.about_one_left .block-title h2 {
    font-size: 40px;
    line-height: 50px;
}    
.about_one_left {
    margin-bottom: 40px;
}    
.about_one_right {
    margin-right: 0;
}    
    
.about_one_right_last_img {
    display: none;
}    
.about_one_right_img:before {
    display: none;
}     
.about_one_right_img:after {
    display: none;
}      
.volunteer_one_inner {
    align-items: inherit;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}   
.volunteer_one_inner_right {
    padding-top: 20px;
}     
.volunteer_one_inner_right .thm-btn {
    padding: 15px 30px;
}    
.volunteer_one_inner_right .thm-btn i {
    margin-left: 30px;
}    
.candidate_one_right {
    margin-left: 0;
    margin-top: 30px;
}    
.candidate_one_right_title h2 {
    font-size: 49px;
    line-height: 59px;
}    
.candidate_one_signature {
    flex-direction: column;
}    
.candidate_one_signature_text {
    margin-left: 0;
}    
.donation_one_inner_title h2 {
    font-size: 50px;
    line-height: 60px;
}    
.donation_one_inner_title h3 {
    font-size: 36px;
    line-height: 46px;
}    
.donation_one_inner_text p {
    font-size: 23px;
    line-height: 33px;
}    
.testimonials_one_carousel_single {
    padding-left: 65px;
}    
.testimonials_one_text p {
    font-size: 20px;
    line-height: 30px;
}
    
.testimonials_one_author {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
} 
.testimonials_one_author_content {
    margin-left: 0;
    margin-top: 15px;
}
.testimonials_one_author_content h4 {
    font-size: 23px;
}    
    
.testimonials_one_right {
    margin-left: 0;
}    
.testimonials_one .block-title h2 {
    font-size: 49px;
    line-height: 60px;
}    
.subscription {
    padding: 30px;
}    
.subscription .block-title h2 {
    font-size: 35px;
    line-height: 45px;
}    
.subscription .block-title {
    margin-bottom: 100px;
}    
.news {
    margin-left: 0;
    margin-top: 50px;
}    
.news_all.two {
    margin-left: 10px;
}    
.news .block-title h2 {
    font-size: 55px;
    line-height: 65px;
}    
.special_message_inner {
    flex-direction: column;
    align-items: inherit;
    padding: 49.5px 30px;
}
.special_message_inner_content h2 {
    font-size: 32px;
    line-height: 42px;
}
.special_message_inner_btn .thm-btn {
    padding: 11px 30px;
    padding-right: 15px;
}
.special_message_inner_btn .thm-btn i {
    margin-left: 30px;
    padding: 13px 17px;
}
.special_message_inner_btn {
    margin-top: 20px;
}   
.special_message {
    margin-top: 0;
}    
.news_and_subscription {
    padding: 145px 0 160px;
}    
.news_all_btn {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}    
.footer-widget__our_campaign {
    margin-bottom: 30px;
}      
.footer-widget__our_campaign_list li+li {
    margin-top: 15px;
}    

    
.footer-widget__address {
    margin-left: 0;
}    
.footer-widget__links {
    margin-right: 0;
}    
.footer-widget__Resource {
    margin-left: 0;
}     
.footer-widget__about.marb{
    margin-bottom: 30px;
}    
.footer-widget__address.marb{
    margin-bottom: 30px;
}    
.footer-widget__links.margin-b-30{
    margin-bottom: 30px;
}
   
.site_footer_one_menu {
    flex-direction: column;
    padding-top: 60px;
}    
.site_footer_one_menu_list {
    margin-top: 10px;
    text-align: center;
}    
.site_footer_one_menu_list li+li {
    margin-left: 16px;
}    
.site_footer_one_menu_list li a {
    font-size: 15px;
}    
.featured_causes_inner {
    background-image: none !important;
    padding: 49px 20px 60px;
}
.featured_causes_right {
    margin-left: 0;
}    
.featured_causes_inner_title h4 {
    color: #ffffff;
}    
.featured_causes_inner_title {
    padding-top: 13px;
    padding-bottom: 30px;
} 
.featured_causes_inner_title h3 {
    font-size: 47px;
}    
.featured_causes_right h2 {
    font-size: 35px;
    line-height: 45px;
}    
.progress-levels .progress-box .inner .count-text {
    font-size: 15px;
}    
.progress-levels .progress-box .inner .percent {
    font-size: 15px;
}    
.progress-levels {
    max-width: 216px;
}    
.progress-levels .progress-box .bar .bar-innner .skill-percent {
    right: -58px;
}    
.mission_and_vission_two {
    margin-top: -85px;
}    
.events_two_right {
    margin-left: 0;
    margin-top: 40px;
}    
.events_two_time_location li+li {
    margin-left: 0px;
}    
.events_two_right_list .events_two_time_location li+li {
    margin-left: 0;
}    
.volunteer_two_right {
    margin-left: 0;
    margin-top: 50px;
}     
.volunteer_two_inner {
    padding: 90px 20px 90px;
}    
.volunteer_two_title h2 {
    font-size: 55px;
    line-height: 65px;
}    
.special_message_inner_two {
    padding: 90px 25px 70px;
}    
.special_message_two_content h2 {
    font-size: 44px;
    line-height: 54px;
}    
.special_message_two_input_box {
    margin-top: 45px;
}
.site_footer_two_text {
    margin-top: 20px;
    margin-bottom: 20px;
}
.site_footer_two_btn {
    float: left;
}    
    
    
.footer-widget__about_two {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}   
.footer-widget__resource_two {
    margin-left: 0;
}    
.footer-widget__links_two {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}    
.footer-widget__tweets_two {
    margin-left: 0px;
    margin-right: 0;
}     

.site_footer_two_menu {
    flex-direction: column;
}    
.featured_news_top {
    padding: 70px 30px 135px;
}    
.featured_news_content h2 {
    font-size: 43px;
    line-height: 53px;
}    
.featured_news_content p {
    font-size: 20px;
    line-height: 30px;
}    
.featured_news_bottom_content {
    bottom: 0;
}    
.featured_news_bottom_content h3 {
    font-size: 25px;
    line-height: 35px;
}    
.causes_three_content .progress-levels {
    max-width: 204px;
} 
.causes_three_content .progress-levels .progress-box .bar .bar-innner .skill-percent {
    right: -50px;
}
.causes_three_content .progress-levels .progress-box .inner .count-text {
    font-size: 15px;
}
.causes_three_content .progress-levels .progress-box .inner .percent {
    font-size: 15px;
} 
.message_and_volunteer .block-title h2 {
    font-size: 48px;
    line-height: 58px;
}
.message_and_volunteer_text.marl {
    margin-left: 0;
    padding-top: 20px;
}    
.message_and_volunteer_right {
    margin-left: 0;
    margin-top: 50px;
    padding: 40px 30px 50px;
}     
.message_and_volunteer_signature {
    flex-direction: column;
}    
.site_footer_three_inner {
    flex-direction: column;
}    
.site_footer_three_top__social {
    margin-top: 30px;
}    
.footer-widget__links_two.three {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}    
.footer-widget__our_campaign.three {
    margin-left: 0;
    margin-bottom: 50px;
}    
.footer-widget__gallery {
    margin-left: 0;
} 
.page-header-bg {
    display: none;
}    
.page-header-content h2 {
    font-size: 71px;
    line-height: 80px;
}    
.page-header-content p br{
    display: none;
}    
.history_main_box li:before {
    display: none;
}    
.history_main_box li:after{
    display: none;
}    
.history_main_box_border {
    display: none;
}    
.history_main_box {
    float: none;
}    
.history_main_box li {
    margin: 0 auto;
}    
.history_main_box.two {
    margin-left: 0;
    margin-top: 60px;
}      
.history_main_box li .history_content_box h3 {
    font-size: 24px;
    line-height: 34px;
}    
.featured_banner_inner .block-title h2 {
    font-size: 40px;
    line-height: 50px;
}    
.featured_banner_inner {
    position: relative;
    display: block;
    padding: 0 14px;
}    
    
.sponsors_box_single {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
}    
.special_message.three .special_message_inner {
    flex-direction: column;
    text-align: center;
    padding: 72px 35px 61px;
}     
.special_message.three .special_message_inner_btn .thm-btn {
    padding: 11px 10px;
    padding-right: 15px;
    font-size: 13px;
}    
.special_message.three .special_message_inner_btn .thm-btn i {
    margin-left: 10px;
    padding: 13px 17px;
}    
.sponsors {
    padding: 145px 0 90px;
}    
.contact_us_form {
    margin-left: 0;
    margin-right: 0;
}
.donation_form_title {
    margin-right: 0;
}    
.donation_form_title .block-title h2 {
    font-size: 50px;
    line-height: 60px;
}    
.donation_form_box li a {
    font-size: 25px;
    height: 60px;
    width: 129px;
    line-height: 60px;
}    
.donation_form_box li:nth-child(3) {
    margin-right: 13px;
}    
.donation_form_btn .thm-btn {
    padding: 19px 60px;
    padding-right: 14px;
    font-size: 18px;
}    
.donation_form_btn .thm-btn i {
    margin-left: 60px;
}    
.how_we_use_donation_inner.right {
    margin-top: 60px;
}     
.how_we_use_donation_box {
    flex-direction: column;
    align-items: center;
}    
.how_we_use_donation_content {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
}    
.event_page_single {
    flex-direction: column;
    align-items: center;
}    
.event_page_content {
    margin-left: 0;
    text-align: center;
    margin-top: 30px;
}     
.even_details_sidebar {
    margin-top: 40px;
}      
.even_details_title h3 {
    font-size: 35px;
    line-height: 45px;
}    
.gallery-filter li+li {
    margin-left: 20px;
}    
.joining_us_right {
    margin-left: 0;
    margin-top: 40px;
}     
.member_style_1_top {
    flex-direction: column;
}    
.member_style_1_content {
    margin-left: 0;
    text-align: center;
}    
.member_style_1_social {
    justify-content: center;
}    
.member_style_1_single {
    padding: 44px 25px 46px;
}    
.member_style_1_title h3 {
    font-size: 29px;
    margin-top: 20px;
}    
.sidebar {
    margin-left: 0;
}    
.news_page_btn_and_social_icon {
    flex-direction: column;
}    
.news_page_social_icon {
    margin-top: 20px;
}    
.comment-form {
    margin-bottom: 50px;
}     
.comment_and_read {
    margin-left: 0;
}
.news_details__meta {
    flex-direction: column;
}    
.news_details__tags a {
    padding: 0px 15px;
}    
.news_details_share {
    margin-top: 20px;
}    
.comment-one__single {
    flex-direction: column;
    align-items: center;
}    
.comment-one__content {
    margin-left: 0;
    text-align: center;
}    
.comment-one__btn {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}   
.comment-one__single.comment_middle {
    padding-left: 0;
}    
    
.featured_causes_right_carousel.owl-carousel .owl-dots {
    display: none;
}    
    
    
    
    
}






@media only screen and (min-width: 1200px) and (max-width: 1717px) {
.top_section_one_shape_1 {
    display: none;
}

    
}

@media only screen and (min-width: 1200px) and (max-width: 1490px) {
.about_one_right_last_img {
    right: -170px;
}

    
}





@media only screen and (min-width: 1200px) and (max-width: 1499px) {
.header_contact_two.three {
    display: none;
}
.main-nav__left_one.three .logo_one {
    max-width: 200px;
    margin-right: 34px;
}
.stricked-menu.stricky-fixed .main-nav__left_one.three .logo_one {

}  
    
    
    
    
    
}


@media only screen and (min-width: 1200px) and (max-width: 1735px){
.main-slider-img {
    right: -170px;
}
.main-slider-img img {
    width: 80%;
}   
    
    
    
    
}

@media only screen and (min-width: 1200px) and (max-width: 1900px){
.main-slider-one-shape-round {
    height: 500px;
    width: 500px;
    right: 295px;
}    
    
    
    
}

@media only screen and (min-width: 1200px) and (max-width: 1500px){
.main-slider-two-img {
    right: -60px;
}   
.main-slider-two-img img {
    width: 90%;
}    
    
    
}







/*--------------------------------------------------------------
# Slider All Responsice Css
/////////
--------------------------------------------------------------*/




@media only screen and (min-width: 992px) and (max-width: 1199px) {
.main-slider-img {
    right: -336px;
}    
.main-slider-img img {
    width: 65%;
}    
.main-slider-one-shape-round {
    height: 400px;
    width: 400px;
    right: 233px;
}    
.main-slider-shape-dots {
    top: 520px;
    right: 133px;
}    
.main-slider-small-round {
    right: 225px;
}    
.main-slider-one-left-content p {
    font-size: 26px;
    line-height: 36px;
}    

.main-slider-two-img {
    right: -135px;
}    
.main-slider-two-img img {
    width: 85%;
}    

.main-slider-two-left-content h2 {
    font-size: 80px;
    line-height: 90px;
}    
.main-slider-two-left-content p {
    font-size: 26px;
    line-height: 36px;
}    
    
.main-slider-three-featured {
    right: 20px;
}
.main-slider-three h2 {
    font-size: 70px;
    line-height: 80px;
}    
    
    
    
    
    
    
    
    
}    
    
    
    
    
    

@media only screen and (min-width: 768px) and (max-width: 991px) {
.main-slider-one-shape-round {
    display: none;
}
.main-slider-small-round {
    display: none;
}    
.main-slider-shape-dots {
    display: none;
}
.main-slider-img {
    display: none;
}
.main-slider-one-left-content h4 {
    font-size: 25px;
    line-height: 35px;
}    
.main-slider-one-left-content h2 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 10px;
}
.main-slider-one-left-content p {
    font-size: 26px;
    line-height: 36px;
}    
.main-slider-two-img {
    display: none;
}     
.main-slider-three h2 {
    font-size: 50px;
    line-height: 60px;
}    
.main-slider-three-featured {
    bottom: 0;
    top: inherit;
    right: 50px;
    transform: translate(0);
}    
    
    
    
    
    
    
    
    
}

@media only screen and (max-width: 767px) {
.main-slider-one-shape-round {
    display: none;
}
.main-slider-small-round {
    display: none;
}    
.main-slider-shape-dots {
    display: none;
}
.main-slider-img {
    display: none;
}
.main-slider-one-left-content h4 {
    font-size: 25px;
    line-height: 35px;
}    
.main-slider-one-left-content h2 {
    font-size: 49px;
    line-height: 60px;
    margin-bottom: 10px;
}
.main-slider-one-left-content p {
    font-size: 26px;
    line-height: 36px;
}     
.main-slider-two-img {
    display: none;
}    
.main-slider-two-shape-1 {
    display: none;
}    
.main-slider-two-left-content h2 {
    font-size: 49px;
    line-height: 60px;
}    
.main-slider-two-left-content h4 {
    font-size: 30px;
    line-height: 40px;
}    
.main-slider-three-featured {
    display: none;
}    
.main-slider-three h2 {
    font-size: 50px;
    line-height: 60px;
}    
.swiper-slide-inner-text {
    padding-left: 40px;
} 
    
    
.main-slider-one{
    background: #f5381f;
}    
    
    
    
    
    
}








/*--------------------------------------------------------------
# Main Menu All Responsice Css
/////////
--------------------------------------------------------------*/


@media (max-width: 1199px) {
    
.main-nav__main-navigation {
    display: none !important;
}

 
    
    
}




@media only screen and (min-width: 992px) and (max-width: 1199px) {
   
.main-nav__left {
    float: none !important;
    overflow: hidden;
}
.main-nav__left_one {
    width: 100%;
}
.main-nav__left .side-menu__toggler {
    margin-left: 0;
    float: right;
    padding: 48px 0;
} 
.logo_one {
    padding: 46.5px 0;
    float: left;
}    

.stricked-menu.stricky-fixed .main-nav__left .side-menu__toggler {
    padding: 28px 0;    
}    
    
.main-nav__header-one.two .main-nav__left .side-menu__toggler {
    color: #ffffff;
}    
.header_top_three {
    display: none;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}


















@media only screen and (min-width: 768px) and (max-width: 991px) {

.main-nav__left {
    float: none !important;
    overflow: hidden;
}
.main-nav__left_one {
    width: 100%;
}
   
.main-nav__left .side-menu__toggler {
    margin-left: 0;
    float: right;
    padding: 48px 0;
} 
.logo_one {
    padding: 46.5px 0;
    float: left;
}     
.header_top_one {
    display: none;
} 
.stricked-menu.stricky-fixed .main-nav__left .side-menu__toggler {
    padding: 28px 0;   
}   
    
    
.main-nav__header-one.two .main-nav__left .side-menu__toggler {
    color: #ffffff;
}      
.header_top_three {
    display: none;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}




@media (max-width: 767px) {
    
.stricked-menu {
    display: none;
}
.main-nav__left .side-menu__toggler {
    margin-left: 0px;
}
   
.header_top_one {
    display: none;
}    
.main-nav__right_one {
    display: none;
}
.main-nav__left_one {
    width: 100%;
}    
.main-nav__left .side-menu__toggler {
    margin-left: 0;
    float: right;
    padding: 48px 0;
} 
.logo_one {
    padding: 46.5px 0;
    float: left;
} 
 
.main-nav__left {
    float: none !important;
    overflow: hidden;
}  
    
.main-nav__header-one.two .main-nav__left .side-menu__toggler {
    color: #ffffff;
}      
.header_top_one {
    display: none;
}     
.header_top_three {
    display: none;
}    
    
    
    
    
    
    
}
